DISCORD_WEBHOOK_URL=
LISTENBRAINZ_USERNAME=
LISTENBRAINZ_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
APPLE_MUSIC_TEAM_ID=
APPLE_MUSIC_KEY_ID=
APPLE_MUSIC_PRIVATE_KEY=
NAVIDROME_URL=
NAVIDROME_USERNAME=
NAVIDROME_PASSWORD=
